<h1>Nueva Sugerencia</h1>
<%= form_for @incident do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <% unless @incident.errors[:title].blank? %>
    <span><%= @incident.errors[:title].join(', ') %></span>
  <% end %>
  <br><br>
  <label>Description</label><br>
  <%= f.text_area :description %><br>
  <% unless @incident.errors[:description].blank? %>
    <span><%= @incident.errors[:description].join(', ') %></span>
  <% end %>
  <br>
  <%= f.submit 'Crear incidente' %>
<% end %>
<%= link_to 'back', :home %>

