<!DOCTYPE html>

<!--<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
</br>-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>HELP DESK</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "style.css" %>
    <link href="../../assets/css/style-responsive.css" rel="stylesheet">
    <%= stylesheet_link_tag "to-do.css" %>
    <link rel="stylesheet" type="text/css" href="../../assets/css/component.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Modal -->
    <!-- End modal -->
    <section id="container" class="sidebar-closed container" >
      <header class="header black-bg">
        <a href="index.html" class="logo"><b>HELP DESK</b></a>
        <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">
          <li>
            <a href="index.html#">
              <i class="fa fa-home"> </i>
            </a>
          </li>
          <!-- settings start -->
          <li>
            <a href="index.html#">
              <i class="fa fa-user"> </i>
            </a>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-envelope-o"></i>
             </a>
          </li>
                <!-- inbox dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="#"><i class="fa fa-sign-out fa-1x"></i><%= link_to '', :logout, method: :delete %></a></li>
          </ul>
        </div>
      </header>
      <div id="main-content" class="wrapper">
        <div class="tables">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
                <div class="pull-left"><h5><i class="fa fa-tasks"></i> Sugerencias</h5></div><br>
                <div class="pull-right hidden-phone"> 
                  <button class="btn btn-primary btn-xs"><i class="fa fa-plus"><%= link_to '', :new_request %></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="task-content">
                  <ul class="task-list">
                  <% @requests.each do |request| %>
                      <li class="answered">
                          <div class="task-title">
                            <span class="task-title-sp"><%= link_to request.title, request_path(request) %></span>
                            <div class="pull-right hidden-phone">
                              <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"><%= link_to '', edit_request_path(request) %></i></button>
                              <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "><%= link_to '', request_path(request), method: :delete %></i></button>
                            </div>
                          </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
            <section class="task-panel tasks-widget">
              <div class="panel-heading">
                  <div class="pull-left"><h5><i class="fa fa-tasks"></i>Incidentes</h5> </div><br>
                  <div class="pull-right hidden-phone"> 
                    <button class="btn btn-primary btn-xs md-trigger" data-modal="modal-8"> <i class="fa fa-plus"><%= link_to '', :new_incident %></i></button>
                  </div>
              </div>
              <div class="panel-body">
                <div class="task-content">
                  <ul class="task-list">
                  <% @incidents.each do |incident| %>
                      <li class="answered">
                          <div class="task-title">
                            <span class="task-title-sp"><%= link_to incident.title, incident_path(incident) %></span>
                            <div class="pull-right hidden-phone">
                              <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"><%= link_to '', edit_incident_path(incident) %></i></button>
                              <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "><%= link_to '', incident_path(incident), method: :delete %></i></button>
                            </div>
                          </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
            <section class="task-panel tasks-widget">
            <div class="panel-heading">
                <div class="pull-left"><h5><i class="fa fa-tasks"></i> Problemas</h5></div><br>
                <div class="pull-right hidden-phone"> 
                  <button class="btn btn-primary btn-xs"><i class="fa fa-plus"><%= link_to '', :new_problem %></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="task-content">
                  <ul class="task-list">
                  <% @problems.each do |problem| %>
                    <li class="unanswered">
                        <div class="task-title">
                          <span class="task-title-sp"><%= link_to problem.title, problem_path(problem) %></span>
                          <div class="pull-right hidden-phone">
                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"><%= link_to '', edit_problem_path(problem) %></i></button>
                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "><%= link_to '', problem_path(problem), method: :delete %></i></button>
                          </div>
                        </div>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
      </div>
      </div>
    </section>
    
    <!-- js placed at the end of the document so the pages load faster -->
    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../../assets/js/classie.js"></script>
    <script src="../../assets/js/modalEffects.js"></script>
    <script class="include" type="text/javascript" src="../../assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../../assets/js/jquery.scrollTo.min.js"></script>
    <script src="../../assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="../../assets/js/common-scripts.js"></script>
    <!--script for this page-->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  </body>
</html>
