<!DOCTYPE html>

<!--<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
</br>-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>HELP DESK</title>
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'home' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <body>
    <!-- Modal -->
    <div class="md-modal md-effect-8" id="modal-8">
      <div class="md-content">
        <div class="form-panel">
          <h3 class="mb">Incidentes</h3>
          <%= form_for(@incident, remote: true) do |f| %>
            <form class="form-horizontal tasi-form" method="get">
              <div class="form-group has-success">
                <label class="col-sm-2 control-label col-lg-2">Titulo</label>
                <%= f.text_field(:title, class: 'form-control') %>
                <span id="error-title"></span>
              </div>
              <div class="form-group has-success">
                <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Descripción</label>
                <%= f.text_area(:description, rows: 12, class: 'form-control' ) %>
                <span id="error-description"></span>
              </div>
              <div>
              <button type="submit" name="commit"><i class="fa fa-check"></i>Enviar</input>
              <button type="button" class="md-close" onclick="clear_span()"><i class="fa fa-times"></i>Cancelar</button>  
            </form>            
                
            </div>
          <% end %> 
        </div>
      </div>
    </div>
    <!-- End modal -->
    <section id="container" class="sidebar-closed container" >
      <header class="header black-bg">
        <a href="index.html" class="logo"><b>HELP DESK</b></a>
        <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">
          <li>
            <a href="index.html#">
              <i class="fa fa-home"> </i>
            </a>
          </li>
          <li>
            <a href="index.html#">
              <i class="fa fa-user"> </i>
            </a>
          </li>
          <li id="header_inbox_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-envelope-o"></i>
             </a>
          </li>
        </ul>
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li>
              <a class="logout" href= <%= :logout %>  data-method="delete">
                <i class="fa fa-sign-out fa-1x"> </i>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div id="main-content" class="wrapper">
        <div class="tables">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
                <div class="pull-left"><h5><i class="fa fa-tasks"></i> Sugerencias</h5></div><br>
                <div class="pull-right hidden-phone"> 
                  <button class="btn btn-primary btn-xs"><i class="fa fa-plus"><%= link_to '', :new_request %></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="task-content">
                  <ul class="task-list">
                  <% @requests.each do |request| %>
                      <li class="answered">
                          <div class="task-title">
                            <span class="task-title-sp"><%= link_to request.title, request_path(request) %></span>
                            <div class="pull-right hidden-phone">
                              <a href=<%= edit_request_path(request) %>><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                              <a href=<%= request_path(request) %> data-method="delete"><button class="btn btn-danger btn-xs "><i class="fa fa-trash-o "></i></button></a>
                            </div>
                          </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
            <section class="task-panel tasks-widget">
              <div class="panel-heading">
                  <div class="pull-left"><h5><i class="fa fa-tasks"></i>Incidentes</h5> </div><br>
                  <div class="pull-right hidden-phone"> 
                    <button class="btn btn-primary btn-xs md-trigger" data-modal="modal-8"> <i class="fa fa-plus"><%= link_to '', :new_incident %></i></button>
                  </div>
              </div>
              <div class="panel-body">
                <div class="task-content">
                  <ul class="task-list">
                  <% @incidents.each do |incident| %>
                      <li class="answered">
                          <div class="task-title">
                            <span class="task-title-sp"><%= link_to incident.title, incident_path(incident) %></span>
                            <div class="pull-right hidden-phone">
                              <a href=<%= edit_incident_path(incident) %>><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                              <a href=<%=incident_path(incident)%> data-method="delete"><button class="btn btn-danger btn-xs "><i class="fa fa-trash-o "></i></button></a>
                            </div>
                          </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
            <section class="task-panel tasks-widget">
            <div class="panel-heading">
                <div class="pull-left"><h5><i class="fa fa-tasks"></i> Problemas</h5></div><br>
                <div class="pull-right hidden-phone"> 
                  <button class="btn btn-primary btn-xs"><i class="fa fa-plus"><%= link_to '', :new_problem %></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="task-content">
                  <ul class="task-list">
                  <% @problems.each do |problem| %>
                    <li class="unanswered">
                        <div class="task-title">
                          <span class="task-title-sp"><%= link_to problem.title, problem_path(problem) %></span>
                          <div class="pull-right hidden-phone">
                            <a href=<%= edit_problem_path(problem) %>><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                            <a href=<%= problem_path(problem) %> data-method="delete"><button class="btn btn-danger btn-xs "><i class="fa fa-trash-o "></i></button></a>
                          </div>
                        </div>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </section>
      </div>
      </div>
    </section>
    <%= javascript_include_tag 'home' %>
  </body>
</html>
