<h1>Login</h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<%= form_tag :sessions, method: :post do %>
  <%= text_field_tag :customer_id, nil, placeholder: 'Customer id' %>
  <br><br>
  <%= password_field_tag :password, nil, placeholder: 'Password' %>
  <br><br>
  <%= check_box_tag :remember_me, nil %> Remember me
  <br><br>
  <%= submit_tag 'Login' %>
<% end %>