    <!-- Modal -->
    <div class="md-modal md-effect-8" id="modal-8">
      <div class="md-content">
        <div class="form-panel">
          <h3 class="mb">Responder</h3>
          <%= form_for(@comments_request, remote: true) do |f| %>
            <form class="form-horizontal tasi-form" method="get">
              <div class="form-group has-success">
                <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Descripción</label>
                <%= f.text_area(:description, rows: 12, class: 'form-control' ) %>
                <span id="error-description"></span>
              </div>
              <%= f.hidden_field :request_id, value: @request.id %>
              <div >
                <button type="submit"  name="commit"><i class="fa fa-check"></i> Enviar</button>
                <button type="button" class="md-close" onclick="clear_span()"><i class="fa fa-times"></i> Cancelar</button> 
              </div>     
            </form>
          <% end %>       
        </div>
      </div>
    </div>
    <div class="md-modal md-effect-8" id="modal-9">
      <div class="md-content">
        <div class="form-panel">
          <h3 class="mb">Problemas</h3>
          <%= form_for(@request, remote: true) do |f| %>
            <form class="form-horizontal tasi-form" method="get">
              <div class="form-group has-success">
                <label class="col-sm-2 control-label col-lg-2">Titulo</label>
                <%= f.text_field(:title, class: 'form-control') %>
                <span id="error-title-request"></span>
              </div>
              <div class="form-group has-success">
                <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Descripción</label>
                <%= f.text_area(:description, rows: 12, class: 'form-control' ) %>
                <span id="error-description-request"></span>
              </div>
              <div>
              <button type="submit" name="commit"><i class="fa fa-check"></i>Enviar</input>
              <button type="button" class="md-close" onclick="clear_span()"><i class="fa fa-times"></i>Cancelar</button>  
            </form>                      
            </div>
          <% end %> 
        </div>
      </div>
    </div>
    <!-- End modal -->
    <section id="container" class="sidebar-closed container" >
        <!-- Header -->
          <%= render 'shared/header'%>
        <!-- End header -->
        <div id="main-content" class="wrapper">
          <div class="comments-container">
            <ul id="comments-list" class="comments-list">
              <li>
                <div class="comment-main-level">
                  <div class="comment-avatar"><i class="fa fa-question fa-4x"></i></div>
                  <div class="comment-box">
                    <div class="comment-head">
                      <h6 class="comment-name by-author"><a href="#"><%= @request.title %></a></h6>
                      <span> <%= @request.created_at %> </span>
                      <%  if current_user.creator_cases?(@request.id, 'request') %> 
                        <a href=<%= request_path(@request) %> data-method="delete"><i class="fa fa-trash-o "></i></a>
                         <a href="/requests/<%= @request.id %>/edit" class="md-trigger" data-modal="modal-9" data-remote="true"><i class="fa fa-pencil"></i></a>
                      <% end %>
                      <% if @comments_requests.empty? %>
                        <a href='/comments_requests/new' data-remote="true" class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                      <% end %>
                    </div>
                    <div class="comment-content">
                      <%= @request.description %>
                    </div>
                  </div>
                </div>
                <% @comments_requests.each_with_index do |comments_request, i| %>
                  <% if comments_request.user.is_customer? %>
                    <div class="comment-main-level">
                      <div class="comment-avatar"><i class="fa fa-question fa-4x"></i></div>
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name by-author"><a href="#"><%= comments_request.user.full_name %></a></h6>
                          <span> <%= comments_request.updated_at %> </span>
                          <% if current_user.creator_comments?(comments_request.id, 'request')%>
                            <a href=<%= comments_request_path(comments_request, request_id: @request.id) %> data-method="delete" ><i class="fa fa-trash-o" ></i></a>
                            <a href="/comments_requests/<%= comments_request.id %>/edit" class="md-trigger" data-modal="modal-8" data-remote="true"><i class="fa fa-pencil"></i></a>
                          <% end %>
                          <% if @comments_requests.size == i + 1 %>
                            <a href='/comments_requests/new' data-remote="true" class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                          <% end %>
                        </div>
                        <div class="comment-content">
                          <%= comments_request.description %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <ul class="comments-list reply-list">
                      <li>
                        <div class="comment-main-level">
                        <div class="comment-avatar"><i class="fa fa-check fa-3x"></i></div>
                          <div class="comment-box">
                            <div class="comment-head">
                              <h6 class="comment-name"><a href="#"><%= comments_request.user.full_name %></a></h6>
                              <span><%= comments_request.updated_at %></span>
                              <i class="fa fa-pencil"></i>
                              <i class="fa fa-trash-o "></i>
                              <% if @comments_requests.size == i + 1 %>
                                <a href='/comments_requests/new' data-remote="true" class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                              <% end %>
                            </div>
                            <div class="comment-content">
                              <%= comments_request.description %>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
                <% if current_user.creator_cases?(@request.id, 'request') %>
                  <div class="close-case">
                    <% if @request.state != 'answered' %>
                      <a class ="not-solve" href="/requests/finished/<%= @request.id %>" data-method="post">
                        <i class="fa fa-ban fa-2x"></i>
                      </a>
                    <% else %>
                      <a class ="solve" href="/requests/open/<%= @request.id %>" data-method="post">
                        <i class="fa fa-ban fa-2x"></i>
                      </a>
                      <span> Caso cerrado por <b> <%= @request.user.full_name %> </b> el <b> <%= @request.updated_at %> </b> </span>
                    <% end %>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
    </section>
    
    
