<h1>Requests#show</h1>
<p><%= @request.title %></p>
<p><%= @request.description %></p>
<p><%= @request.user.full_name %></p>

<table>
  <tbody>
    <% @comments_requests.each do |comments_request| %>
      <% if current_user.creator_comments?(comments_request.id, 'request') %>
          <!--  AUTHOR -->
        <tr>
          <td><%= link_to comments_request.description %></td>
          <td><%= comments_request.user.full_name %></td>
          <td><%= link_to 'Editar', edit_comments_request_path(comments_request) %></td>
          <td><%= link_to 'Eliminar', comments_request_path(comments_request, request_id: @request.id), method: :delete %></td>
        </tr>
      <% else %>
        <!--  NO AUTHOR -->
        <tr>
          <td><%= link_to comments_request.description %></td>
          <td><%= comments_request.user.full_name %></td>
          <td><%= link_to 'Editar', edit_comments_request_path(comments_request) %></td>
          <td><%= link_to 'Eliminar', comments_request_path(comments_request, request_id: @request.id), method: :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= form_for @comments_request do |f| %>
  <label>Description</label><br>
  <%= f.text_area :description %><br>
  <% unless @comments_request.errors[:description].blank? %>
    <span><%= @comments_request.errors[:description].join(', ') %></span>
  <% end %>
  <%= f.hidden_field :request_id, value: @request.id %>
  <%= f.submit 'Crear commentario a una sugerencia' %>
<% end %>

<p><%= link_to 'back', :home %><p>

<!-- BOTON DE CERRAR -->
<%  if current_user.creator_cases?(@request.id, 'request') %>
<% end %>