<h1>Problems#show</h1>
<p><%= @problem.title %></p>
<p><%= @problem.description %></p>
<p><%= @problem.user.full_name %></p>

<table>
  <tbody>
    <% @solutions_problems.each do |solutions_problem| %>
      <tr>
        <td><%= link_to solutions_problem.description, solutions_problem_path(solutions_problem.id) %></td>
        <td><%= solutions_problem.user.full_name %></td>
        <% unless current_user.is_customer? %>
        <td><%= link_to 'Editar', edit_solutions_problem_path(solutions_problem) %></td>
        <td><%= link_to 'Eliminar', solutions_problem_path(solutions_problem, problem_id: @problem.id), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @solutions_problem do |f| %>
  <label>Description</label><br>
  <%= f.text_area :description %><br>
  <% unless @solutions_problem.errors[:description].blank? %>
    <span><%= @solutions_problem.errors[:description].join(', ') %></span>
  <% end %>
  <%= f.hidden_field :problem_id, value: @problem.id %>
  <%= f.submit 'Crear solucion a problema' %>
<% end %>

<p><%= link_to 'back', :home %><p>
