<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>HELP DESK</title>
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag 'discussion_site_manifest' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <body>
    <!-- Modal -->
    <div class="md-modal md-effect-8" id="modal-8">
      <div class="md-content">
        <div class="form-panel">
          <h3 class="mb">Responder</h3>
          <form class="form-horizontal tasi-form" method="get">
            <div class="form-group has-success">
              <label class="col-sm-2 control-label col-lg-2">Titulo</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group has-success">
              <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Descripción</label>
              <textarea type="text" rows="12" class="form-control"></textarea>
            </div>
          </form>
          <div >
            <button type="button" ><i class="fa fa-check"></i> Enviar</button>
            <button type="button" class="md-close"><i class="fa fa-times"></i> Cancelar</button>  
          </div>
        </div>
      </div>
    </div>
    <!-- End modal -->
    <section id="container" class="sidebar-closed container" >
       <header class="header black-bg">
        <a href="index.html" class="logo"><b>HELP DESK</b></a>
        <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">
          <li>
            <a href="#">
              <i class="fa fa-home"> </i>
            </a>
          </li>
          <!-- settings start -->
          <li>
            <a href="#">
              <i class="fa fa-user"> </i>
            </a>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-envelope-o"></i>
             </a>
          </li>
                <!-- inbox dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="#"><i class="fa fa-sign-out fa-1x"></i></a></li>
          </ul>
        </div>
      </header>
        <div id="main-content" class="wrapper">
          <div class="comments-container">
            <ul id="comments-list" class="comments-list">
              <li>
                <div class"comment-main-level">
                  <div class="comment-avatar"><i class="fa fa-question fa-4x"></i></div>
                  <div class="comment-box">
                    <div class="comment-head">
                      <h6 class="comment-name by-author"><a href="#"><%= @problem.title %></a></h6>
                      <span> <%= @problem.created_at %> </span>
                      <%  if current_user.creator_cases?(@problem.id, 'problem') %>
                        <i class="fa fa-pencil"></i>
                        <i class="fa fa-trash-o "></i>
                      <% end %>
                      <% if @comments_problems.size == 0 %>
                        <a class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                      <% end %>
                    </div>
                    <div class="comment-content">
                      <%= @problem.description %>
                    </div>
                  </div>
                </div>
                <% @comments_problems.each_with_index do |comments_problem, i| %>
                  <% if comments_problem.user.is_customer? %>
                    <div class="comment-main-level">
                      <div class="comment-avatar"><i class="fa fa-question fa-4x"></i></div>
                      <div class="comment-box">
                        <div class="comment-head">
                          <h6 class="comment-name by-author"><a href="#"><%= comments_problem.user.full_name %></a></h6>
                          <span> <%= comments_problem.updated_at %> </span>
                          <% if current_user.creator_comments?(comments_problem.id, 'problem')%>
                            <i class="fa fa-pencil"></i>
                            <i class="fa fa-trash-o "></i>
                          <% end %>
                          <% if @comments_problems.size == i + 1 %>
                            <a class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                          <% end %>
                        </div>
                        <div class="comment-content">
                          <%= comments_problem.description %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <ul class="comments-list reply-list">
                      <li>
                        <div class="comment-main-level">
                        <div class="comment-avatar"><i class="fa fa-check fa-3x"></i></div>
                          <div class="comment-box">
                            <div class="comment-head">
                              <h6 class="comment-name"><a href="#"><%= comments_problem.user.full_name %></a></h6>
                              <span><%= comments_problem.updated_at %></span>
                              <i class="fa fa-pencil"></i>
                              <i class="fa fa-trash-o "></i>
                            </div>
                            <div class="comment-content">
                              <%= comments_problem.description %>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              </li>
              <% if current_user.creator_cases?(@problem.id, 'problem') %>
                <div class="close-case">
                  <!-- View for creator if a case NOT HAS BEEN SOLVE -->
                  <% if @problem.state == 'answered' %>
                    <a class ="solve" href="#"> -->
                      <i class="fa fa-ban fa-2x"></i>
                    </a>
                  <% else %>
                    <a class ="not-solve" href="#">
                      <i class="fa fa-ban fa-2x"></i>
                    </a>
                    <span> Caso cerrado por <b> <%= @problem.user.full_name %> </b> el <b> <%= @problem.updated_at %> </b> </span>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
    </section>
    
    <%= javascript_include_tag 'home' %>
  </body>
</html>
