<div class="container colored" >
 <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="container" style="margin-top: 30px">
          <div class="col-md-4">
            <%= form_for @user, url: :password do |f| %>
              <form>
                <h3 class="text-center">Establecer nueva contrase単a</h3>
                <label for="Email" class="sr-only">Email </label>
                <%= f.password_field :password, placeholder: 'Contrase単a nueva', class: 'form-control', autofocus: "autofocus"%>
                <% unless @user.errors[:password].blank? %>
                  <span class="has-error"><%= @user.errors[:password].join(', ') %></span>
                <% end %>
                <label for="pwd" class="sr-only">Password</label>
                <%= f.password_field :password_confirmation, placeholder: 'Repetir contrase単a', class: 'form-control', required: "required" %>
                <% unless @user.errors[:password_confirmation].blank? %>
                  <span class="has-error"><%= @user.errors[:password_confirmation].join(', ') %></span>
                <% end %>
                <%= f.submit 'Cambiar contrase単a', class: "btn btn-sm btn-primary btn-block" %>
              </form>
            <% end %>
          </div>
      </div>
    </div>
</div>