<h1>Nuevo Incidente</h1>
<%= form_for @request do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <% unless @request.errors[:title].blank? %>
    <span><%= @request.errors[:title].join(', ') %></span>
  <% end %>
  <br><br>
  <label>Description</label><br>
  <%= f.text_area :description %><br>
  <% unless @request.errors[:description].blank? %>
    <span><%= @request.errors[:description].join(', ') %></span>
  <% end %>
  <br>
  <%= f.submit 'Crear sugerencia' %>
<% end %>
<%= link_to 'back', :home %>

