    <!-- Modal -->
      <div class="md-modal md-effect-8" id="modal-8">
        <div class="md-content">
          <div class="form-panel">
            <h3 class="mb">Responder</h3>
            <%= form_for(@comments_incident, remote: true) do |f| %>
              <form class="form-horizontal tasi-form" method="get">
                <div class="form-group has-success">
                  <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Descripción</label>
                  <%= f.text_area(:description, rows: 12, class: 'form-control' ) %>
                  <span id="error-description"></span>
                </div>
                <%= f.hidden_field :incident_id, value: @incident.id %>
                <div >
                  <button type="submit"  name="commit">Enviar </button>
                  <button type="button" class="md-close" onclick="clear_span()">Cancelar</button> 
                </div>     
              </form>
            <% end %>       
          </div>
        </div>
        </div>
        <div class="md-modal md-effect-8" id="modal-9">
          <div class="md-content">
            <div class="form-panel">
              <h3 class="mb">Incidente</h3>
              <%= form_for(@incident, remote: true) do |f| %>
                <form class="form-horizontal tasi-form" method="get">
                  <div class="form-group has-success">
                    <label class="col-sm-2 control-label col-lg-2">Titulo</label>
                    <%= f.text_field(:title, class: 'form-control') %>
                    <span id="error-title-incident"></span>
                  </div>
                  <div class="form-group has-success">
                    <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Descripción</label>
                    <%= f.text_area(:description, rows: 12, class: 'form-control' ) %>
                    <span id="error-description-incident"></span>
                  </div>
                  <div>
                  <button type="submit" name="commit">Enviar</input>
                  <button type="button" class="md-close" onclick="clear_span()">Cancelar</button>  
                </form>                      
                </div>
              <% end %> 
            </div>
          </div>
      </div>
      <!-- End modal -->
      <section id="container" class="sidebar-closed container" >
        <!-- Header -->
          <%= render 'shared/header'%>
        <!-- End header -->
          <div id="main-content" class="wrapper">
            <div class="comments-container">
              <ul id="comments-list" class="comments-list">
                <li>
                  <div class="comment-main-level">
                    <div class="comment-avatar"><i class="fa fa-question fa-4x"></i></div>
                    <div class="comment-box">
                      <div class="comment-head">
                        <h6 class="comment-name by-author"><a href="#"><%= @incident.title %></a></h6>
                        <span> <%= @incident.created_at.to_formatted_s(:long) %> </span>
                        <% unless @incident.is_finished? %>
                          <% if @comments_incidents.empty? %>
                            <a href='/comments_incidents/new' data-remote="true" class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                          <% end %>
                          <%  if current_user.creator_cases?(@incident.id, 'incident') || current_user.is_sa?  %> 
                            <a href="/incidents/<%= @incident.id %>/edit" class="md-trigger" data-modal="modal-9" data-remote="true"><i class="fa fa-pencil"></i></a>
                            <a href=<%= incident_path(@incident) %> data-method="delete"><i class="fa fa-trash-o "></i></a>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="comment-content">
                        <%= simple_format(@incident.description) %>
                      </div>
                    </div>
                  </div>
                  <% @comments_incidents.each_with_index do |comments_incident, i| %>
                    <% if comments_incident.user.is_customer? %>
                      <div class="comment-main-level">
                        <div class="comment-avatar"><i class="fa fa-question fa-4x"></i></div>
                        <div class="comment-box">
                          <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="#"><%= comments_incident.user.full_name %></a></h6>
                            <span> <%= comments_incident.updated_at.to_formatted_s(:long) %> </span>
                            <% unless @incident.is_finished? %>
                              <% if @comments_incidents.size == i + 1 %>
                                <a href='/comments_incidents/new' data-remote="true" class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                              <% end %>
                              <% if current_user.creator_comments?(comments_incident.id, 'incident') || current_user.is_sa? %>
                                <a href="/comments_incidents/<%= comments_incident.id %>/edit" class="md-trigger" data-modal="modal-8" data-remote="true"><i class="fa fa-pencil"></i></a>
                                <a href=<%= comments_incident_path(comments_incident, incident_id: @incident.id) %> data-method="delete" ><i class="fa fa-trash-o" ></i></a>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="comment-content">
                            <%= simple_format(comments_incident.description) %>
                          </div>
                        </div>
                      </div>
                    <% else %>
                      <ul class="comments-list reply-list">
                        <li>
                          <div class="comment-main-level">
                          <div class="comment-avatar"><i class="fa fa-check fa-3x"></i></div>
                            <div class="comment-box">
                              <div class="comment-head">
                                <h6 class="comment-name"><a href="#"><%= comments_incident.user.full_name %></a></h6>
                                <span><%= comments_incident.updated_at.to_formatted_s(:long) %></span>
                                <% unless @incident.is_finished? %>
                                  <% if @comments_incidents.size == i + 1 %>
                                    <a href='/comments_incident/new' data-remote="true" class="md-trigger" data-modal="modal-8"> <i class="fa fa-reply fa-1x"></i></a>
                                  <% end %>
                                  <% if current_user.creator_comments?(comments_incident.id, 'incident') || current_user.is_sa? %>
                                    <a href="/comments_incidents/<%= comments_incident.id %>/edit" class="md-trigger" data-modal="modal-8" data-remote="true"><i class="fa fa-pencil"></i></a>
                                    <a href=<%= comments_incident_path(comments_incident, incident_id: @incident.id) %> data-method="delete" ><i class="fa fa-trash-o" ></i></a>
                                  <% end %>
                                <% end %>
                              </div>
                              <div class="comment-content">
                                <%= simple_format(comments_incident.description) %>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                <% if current_user.creator_cases?(@incident.id, 'incident') || current_user.is_sa? %>
                  <div class="close-case">
                    <% if @incident.state != 'answered' %>
                      <a class ="not-solve" href="/incidents/finished/<%= @incident.id %>" data-method="post">
                        <i class="fa fa-ban fa-2x"></i>
                      </a>
                    <% else %>
                      <a class ="solve" href="/incidents/open/<%= @incident.id %>" data-method="post">
                        <i class="fa fa-ban fa-2x"></i>
                      </a>
                      <span> Caso cerrado el <b> <%= @incident.updated_at.to_formatted_s(:long) %> </b> </span>
                    <% end %>
                  </div>
                <% else %>
                  <% if @incident.is_finished? %>
                    <div class="close-case">
                      <a class ="solve" href='#' >
                        <i class="fa fa-ban fa-2x"></i>
                      </a>
                      <span> Caso cerrado el <b> <%= @incident.updated_at.to_formatted_s(:long) %> </b> </span>
                    </div>
                  <% end %>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
      </section>