<h1>Incidents#show</h1>
<p><%= @incident.title %></p>
<p><%= @incident.description %></p>
<p><%= @incident.user.full_name %></p>


<!-- INDEX DE COMMENTS -->
<table>
  <tbody>
    <% @comments_incidents.each do |comments_incident| %>
      <% if current_user.creator_comments?(comments_incident.id, 'incident') ) %>
        <!--  AUTHOR -->
        <tr>
          <td><%= link_to comments_incident.description %></td>
          <td><%= comments_incident.user.full_name %></td>
          <td><%= link_to 'Editar', edit_comments_incident_path(comments_incident) %></td>
          <td><%= link_to 'Eliminar', comments_incident_path(comments_incident, incident_id: @incident.id), method: :delete %></td>
        </tr>
      <% else %>
        <!--  NO AUTHOR -->
        <tr>
          <td><%= link_to comments_incident.description %></td>
          <td><%= comments_incident.user.full_name %></td>
          <td><%= link_to 'Editar', edit_comments_incident_path(comments_incident) %></td>
          <td><%= link_to 'Eliminar', comments_incident_path(comments_incident, incident_id: @incident.id), method: :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<!-- MODAL DE COMMENTS -->
<%= form_for @comments_incident do |f| %>
  <label>Description</label><br>
  <%= f.text_area :description %><br>
  <% unless @comments_incident.errors[:description].blank? %>
    <span><%= @comments_incident.errors[:description].join(', ') %></span>
  <% end %>
  <%= f.hidden_field :incident_id, value: @incident.id %>
  <%= f.submit 'Crear comentario a un incidente' %>
<% end %>

<p><%= link_to 'back', :home %><p>

<!-- BOTON DE CERRAR -->
<%  if current_user.creator_cases?(@incident.id, 'incident') %>
<% end %>